$primary-cayn: hsl(180, 66%, 49%);
$primary-dark-violet: hsl(257, 27%, 26%);
$seconday-red: hsl(0, 87%, 67%);
$gray: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$light: #eff1f7;
$dark: #34313d;
