@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
$primary-cayn: hsl(180, 66%, 49%);
$primary-dark-violet: hsl(257, 27%, 26%);
$seconday-red: hsl(0, 87%, 67%);
$gray: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$light: #eff1f7;
$dark: #34313d;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: $light;
}

.container {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}
.title {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: -1px;
}

li {
  list-style-type: none;
}

header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  nav {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 2rem;
    flex-basis: 100%;
    order: 3;
    ul {
      background-color: $primary-dark-violet;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: 10px;
      padding-top: 3rem;
      li {
        text-align: center;
        margin-bottom: 3em;
        color: $light;
        font-size: 1.1em;
        letter-spacing: -0.234375px;
        line-height: 1.2rem;
        font-weight: bold;
        color: $light;
        cursor: pointer;
        &:hover {
          color: $very-dark-blue !important;
        }
        a {
          cursor: pointer;
        }
      }
    }
    .members {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 2rem;
      border-top: 1px solid #9e9aa8;
      margin-top: 2rem;
      .login_link {
        text-align: center;
        color: $light;
        font-size: 1.1em;
        margin-bottom: 3em;
        font-weight: bold;
        cursor: pointer;
      }
      .signup_btn {
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        font-size: 1.22rem;
        border-radius: 28px;
        padding: 1rem 2rem;
        background-color: $primary-cayn;
        border: none;
        &:hover {
          background-color: hsl(180, 43%, 64%);
        }
      }
    }
  }
  .m_menu {
    margin-left: auto;
    cursor: pointer;
  }
}

footer {
  background: $dark;
  color: white;
  padding: 3rem 0;
  .logo {
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
  }
  .navs {
    .nav {
      padding-top: 2rem;
      padding-bottom: 1.5rem;
      text-align: center;
      .nav_title {
        line-height: 1.3rem;
        letter-spacing: -0.25px;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        align-items: left;
        padding: 0;
      }
      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        li {
          text-align: center;
          margin-bottom: 1rem;
          padding-right: 0;
          color: $light;
          a {
            font-size: 1.2em;
            letter-spacing: -0.234375px;
            line-height: 1.2rem;
            text-decoration: none;
            color: $light;
          }
        }
      }
    }
    .socials {
      text-align: center;
      padding-top: 1.5rem;
      .social {
        max-width: 24px;
        margin-left: 1rem;
        max-height: 24px;
      }
    }
  }
}

@media (min-width: 426px) {
  header {
    .container {
      flex-direction: row;
      height: 40px;
      align-items: center;
      flex-wrap: nowrap;
      .logo {
        display: flex;
        flex-direction: center;
        justify-content: center;
        vertical-align: middle;
        height: auto;
        margin-bottom: 0;
      }
      nav.hidden {
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
        width: 60%;
        ul {
          background-color: inherit;
          flex-direction: row;
          padding-left: 2rem;
          height: 20px;
          align-items: center;
          padding: 0;
          li {
            align-self: center;
            color: $gray;
            margin: 0;
            padding: 0;
            margin-left: 2rem;
            a {
              color: $dark;
            }
          }
          .members {
            align-self: center;
            padding: 0;
            margin: 0;
            border: none;
            flex-direction: row;
            margin-left: auto;
            align-items: center;
            .login_link {
              color: $dark;
            }
            .signup_btn {
              margin: 0;
              padding: 0;
              margin-left: 2rem;
              padding: 1rem 2rem;
            }
          }
        }
      }
      .m_menu {
        display: none;
      }
    }
  }
}
